@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

* html {
  font-family: "Inter";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main_heading {
  text-align: center;
}

.content {
  max-width: 470px;
  margin: 30px auto;
}

input {
  font-family: "Sanchez";
  box-sizing: border-box;
  width: 100%;
  border: 1px solid;
  outline: 0;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
  height: 50px;
  margin-top: 15px;
  padding: 15px;
  font-size: 17px;
  border-color: #4a4946;
}

.connectButton {
  width: 100%;
  /* background-image: linear-gradient(90deg, #cd38b1 0, #5295e8); */
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #1bb6d9 0%, #B721FF 100%);

  border: 0;
  font-weight: bold;
  margin-top: 25px;
  cursor: pointer;
  border-radius: 12px;
  color: white;
  padding: 15px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.sendButton {
  width: 100%;
  background-image: linear-gradient(to bottom, #ff1764 0%, #f70052 100%);
  border: 0;
  margin-top: 25px;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  padding: 15px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.connectedMessage {
  margin-top: 25px;
  text-align: center;
  font-family: "Sanchez";
}

.tx_message,
.tx_hash {
  font-size: 15px;

}

.myName {
  font-size: 14px;
  text-align: center;
}

:root {
  color-scheme: dark;
}

body {
  font-family: 'Inter', sans-serif;
}

button:hover {
  opacity: 0.9;
}

a {
  color: inherit;
}

li {
  display: inline;
  padding: 10px 15px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;