* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  max-width: 470px;
  margin: 30px auto;
}

input {
  outline: none;
}

:root {
  color-scheme: dark;
}

body {
  font-family: 'Inter', sans-serif;
}

button:hover {
  opacity: 0.9;
}

a {
  color: inherit;
}

li {
  display: inline;
  padding: 10px 15px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;